.formField {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 42rem;
    gap: 2rem;
    margin: auto;
    border: solid 2px var(--white);
    padding: 2rem;
}

.formField > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    font-size: 1.3rem;
    color: var(--white);
}

.formField > div input:not([type='file'], [type='color']) {
    margin: auto;
    width: 70%;
    height: 2rem;
    border: solid 3px var(--primary);
    border-radius: 2rem;
    padding: 1rem .5rem;
}

.formField button {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    width: fit-content;
    margin: auto;
    padding: .5rem 2rem;
    font-size: 1.3rem;
    border-radius: 5rem;
    transition: background-color ease-in .25s;
    &:hover {
        background-color: var(--secondary);
    }
}

.adminOnglet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
    margin-bottom: 3rem;
}
