.formField {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    padding: 3rem 1rem;
    border: solid 3px var(--primary);
    border-radius: 2rem;
}

.formField > .colorField {
    flex-direction: row !important;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    input {
        background-color: #f1f1f1;
        border-radius: 2rem;
        padding: 3px 7px;
        cursor: pointer;
    }

    input[type="color" i] {
       block-size: 2rem;
       inline-size: 3.5rem;
       border:solid 3px var(--primary);
    }
}

.form-error {
    color: var(--error);
    margin: auto;

    i {
        margin-right: 1rem;
    }
}

