.epoqueList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    margin: auto;
}

.epoqueList > div {
    position: relative;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: transparent;
    border: solid 3px var(--white);
    border-radius: .5rem;
}

.epoqueList > div p:first-of-type {
    font-size: 2rem;
    font-weight: 600;
    line-height: .5rem;
}
.epoqueList > div  p:last-of-type{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    span{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 1rem;
        font-size: .8rem;
        font-weight: 600;
        background-color: var(--primary);
        border-radius: 50%;
    }
}


.epoqueList .date span {
    font-weight: 600;
    color: var(--primary);
}

.epoqueList a.edit {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: scale(1) translateY(-40%);
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: var(--primary);
    transition: transform ease-in-out .25s;

    &:hover {
        transform: scale(1.1) translateY(-40%) ;
    }
}

.adminNav {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    padding-block: 2.5rem;
    background-color: #262626;
}
