.epoqueList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 42rem;
    max-width: 700px;
    margin: 1rem auto 5rem;
}

.epoqueList > .card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: .5rem 2rem;
    padding-right: 4rem;
    font-size: clamp(.8rem, 4vw, 1rem);
    background-color: transparent;
    border: solid 3px var(--white);
    border-radius: .5rem;
}

.epoqueList > .card p:first-of-type {
    font-size: clamp(.8rem, 5vw, 1.7rem);
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: -.2rem;
}

.epoqueList > .card p:not(:last-of-type) {
    margin-bottom: -.2rem;
}

.epoqueList > .card p {
    display: inline-flex; 
    align-items: center;
    gap: 6px;
}

.epoqueList > .card p:not(:nth-of-type(2)) > span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: white;
    width: fit-content;
    padding: 2px .2rem 0;
    border-radius: .5rem;
}

.epoqueList > .card a:not(.edit) {
    position: relative;
    width: fit-content;
    padding: .5rem 1rem;
    margin-block: .5rem 1rem;
    border: solid 2px var(--primary);
    border-radius: 3rem;
    color: var(--white);
    transition: background-color ease-in .25s;

    &:hover {
        background-color: var(--primary);
    }
}

.admin {
    padding-bottom: 4rem;
}

.adminOnglet {
    margin-top: 1rem;
    gap: 4rem;
}

.adminOnglet a{
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    width: 14rem;
    border: solid 3px var(--primary);
    padding: .8rem 0;
    border-radius: 3rem;
    transition: background-color ease-in .25s;
    &:hover {
        background-color: var(--primary);
    }
    &.active {
        background-color: var(--primary);
    }
}

.epoqueList .date span {
    font-weight: 600;
    color: var(--primary);
}

.epoqueList a.edit {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: scale(1) translateY(-50%);
    font-size: clamp(1rem, 7vw, 2rem);
    border: none;
    color: var(--primary);
    transition: transform ease-in-out .25s;

    img {
        width: 3.5rem;
        aspect-ratio: 1 / 1;
        filter: opacity(.5) drop-shadow(0 0 0 var(--primary));

    }
    &:hover {
        transform: scale(1.1) translateY(-40%) ;
    }
}

.adminNav-block {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    height: 8.5rem;
    z-index: 0;
    background: var(--background-body);
}

.adminNav {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    bottom: 2rem;
    left: 50%;
    padding: .5rem 1.5rem;
    border-radius: 5rem;
    transform: translateX(-50%);
    background-color: var(--primary);

    span {
        display: block;
        width: 10px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background-color: #fff;
        color: #000;
    }
}

.adminNav > a {
    color: white;
    font-size: 19px;
    font-weight: bold;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    transition: background-color ease-in .25s;
    &:hover {
        background: var(--secondary);
    }
}

@media screen and (max-width: 800px) {
    .epoqueList{
        width: 100%;
    }

}