.epoqueList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
    max-width: 1200px;
    margin: 1rem auto 5rem;
}

.epoqueList > .card {
    position: relative;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: transparent;
    border: solid 3px var(--white);
    border-radius: .5rem;
}

.epoqueList > .card p:first-of-type {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: -.2rem;
}
.epoqueList > .card  p:last-of-type{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    span{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 1rem;
        font-size: .8rem;
        font-weight: 600;
        background-color: var(--primary);
        border-radius: 50%;
    }
}


.epoqueList .date span {
    font-weight: 600;
    color: var(--primary);
}

.epoqueList a.edit {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: scale(1) translateY(-40%);
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: var(--primary);
    transition: transform ease-in-out .25s;

    &:hover {
        transform: scale(1.1) translateY(-40%) ;
    }
}

.adminNav {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    width: fit-content;
    left: 0;
    top: 25%;
    height: 50vh;
    max-width: 1200px;
    padding: 2.5rem;
    background-color: #262626;
    transform: translateX(-100%);
    transition: transform ease-in-out .5s;

    &.active {
        transform: translateX(0);
    }

    & > button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: calc(100% - (2rem / 2));
        top: 50%;
        width: 2rem;
        aspect-ratio: 1 / 1;
        transform: translateY(-50%) translateX(100%);
        border: none;
        border-radius: 50%;
        color: inherit;
        background-color: var(--primary);
        transition: background-color ease-in-out .25s,
                    transform ease-in-out .55s;
        &:hover {
            background-color: var(--secondary);
        }
    }
    &.active button {
        transform: translateY(-50%) translateX(0);
    }

    & button i {
        transform: rotate(0);
        transition: transform ease-in-out .5s;
    }
    &.active button i {
        transform: rotate(180deg);
    }
    
}


