@use "./component/base";
@use "./component/debug";
@use "./component/flex";
@use "./component/themes";
@use "./component/utils";
@use "./component/variables";

body {
    background-color: var(--background-body);
    color: var(--white);
    box-sizing: border-box;
    &::-webkit-scrollbar-thumb {
        background-color: var(--primary);
        border-radius: 1rem;
    }
        
    
    &::-webkit-scrollbar {
        width: 13px; 
        outline: none; 
        border-radius: 0; 
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2); 
    }
    
   
   
}

