:root {
    --primary: #598c9d;
    --secondary: hsl(195, 28%, 42%);
    --dark-gray:#2c3e50 ;
    --gray: #95a5a6;
    --light-grey: #efefef;
    --text-color: #444;
    --background-body: #1d1d1e;
    --white: #fff;
    --error: #e74c3c;
    --valid: #8EF075;
    --divider: #ecf0f1;
    --font-family: 'Nunito', sans-serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow: rgb(0 0 0 / 22%) 0 2px 18px 0;
}