.epoqueList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    margin: auto;
}

.epoqueList > div {
    position: relative;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: var(--secondary);
    border: solid 3px var(--white);
    border-radius: .5rem;
}

.epoqueList > div p:first-of-type {
    font-size: 2rem;
    font-weight: 600;
    line-height: .5rem;
}
.epoqueList > div  p:last-of-type{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    span{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 1rem;
        font-weight: 600;
        background-color: var(--white);
        color: var(--secondary);
        border-radius: 50%;
    }
}


.epoqueList .date span {
    font-weight: 600;
}

.epoqueList button.edit {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: scale(1) translateY(-40%);
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: var(--white);
    transition: transform ease-in-out .25s;

    &:hover {
        transform: scale(1.1) translateY(-40%) ;
    }
}